<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> List of employees </h1>

<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Név</th>
        <th>Munka</th>
        <th>Fizetés</th>
        <th>Kezdés</th>
        <th>Töröl</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.id}"></td>
        <td><a th:href="@{'/employees/edit/' + ${employee.id}}" th:text="${employee.name}"></a></td>
        <td th:text="${employee.job}"></td>
        <td th:text="${employee.salary}"></td>
        <td th:text="${employee.startedWorkingAt}"></td>
        <td><a th:href="@{'/employees/delete/' + ${employee.id}}">Töröl</a></td>
    </tr>
    </tbody>
</table>


<form th:action="@{/employees}" method="post" th:object="${newEmployee}">

   Id: <input th:field="*{id}"><br>
    Name: <input th:field="*{name}">
    <br>
    Job: <input th:field="*{job}">
    <br>
    Salary: <input th:field="*{salary}"><br>
    Entry: <input th:field="*{startedWorkingAt}">
    <br>
    <input type="submit" value="Create">
</form>



</body>
</html>