<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/employees/update}" method="post" th:object="${employee}">
    <input type="hidden" th:field="*{id}">

    Name: <input th:field="*{name}"><br>
    Job: <input th:field="*{job}"><br>
    Salary: <input th:field="*{salary}"><br>
    Entry: <input th:field="*{startedWorkingAt}"><br>
    <input type="submit" value="Update">
</form>
</form>
</body>
</html>